<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Error 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fafafa" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- # CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/error.css') }}" />

</head>

<body>
    <h1>500</h1>
    <h2>Ha ocurrido un error en el servidor. Contacta con nosotros si es necesario. <b>:(</b></h2>
    <div class="gears">
      <div class="gear one">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="gear two">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="gear three">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </body>
</html>